<section>
    <form action="/signin" method="post" novalidate>
    <label for="email"> Enter email:
        <input type="email" name="email" id="email" required>
    </label><br>
    <label for="password"> Enter password:
        <input type="password" name="password" id="password" required>
    </label>
    <button type="submit" name="submit">Submit</button>
    <span>{{msg}}</span>
    </form>
</section>