<nav class="nav">
    <span class="logo">Posts-Handlebars</span>
<<<<<<< HEAD
    <input type="button" value="{{button-value}}">
</nav>
=======
    <button onclick="window.location.href='{{link}}'">{{button-value}}</button>
</nav>
>>>>>>> 9bf8e2100c69bf48d0a38c7565d5c7766c2e904f
