<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <header>
        {{> header}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        {{> footer}}
    </footer>
    <script src="public/js/{{js}}.js"></script>
</body>

</html>